<h1>Edit Robot Profile</h1>

<form action="/robots/<%= @robot.id %>" method="POST">
  <p>
    Edit
  </p>

  <input type="hidden" name="_method" value="PUT"/>
  <input type="text" name="robot[name]" value="<%= @robot.name %>"/><br/>
  <input name="robot[city]"/><%= @robot.city %><br/>
  <input name="robot[state]"/><%= @robot.state %><br/>
  <input name="robot[avatar]"/><%= @robot.avatar %><br/>
  <input name="robot[birthdate]"/><%= @robot.birthdate %><br/>
  <input name="robot[date_hired]"/><%= @robot.date_hired %><br/>
  <input name="robot[department]"/><%= @robot.department %><br/>
  <input type="submit" value="submit"/>
</form>
