<a id="top-robot-nav" href="/robots">Robot Index</a>

<h1 id="robot-name"><%= @robot.name %></h1>

<p id="robot-city"><%= @robot.city %></p>

<p id="robot-state"><%= @robot.state %></p>

<p id="robot-avatar"><%= @robot.avatar %></p>

<p id="robot-birthdate"><%= @robot.birthdate %></p>

<p id="robot-date_hired"><%= @robot.date_hired %></p>

<p id="robot-department"><%= @robot.department %></p>
